#title {
    background-color: #55b3a1;
    color: #fff;
}

h1 {
    font-family: "Ubuntu";
    font-size: 2.9rem;
    line-height: 1.5;
    font-weight: bold;
}


.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Montserrat-Black 900";
    font-size: 4rem;
    font-weight: bolder;
    padding-right: 500px;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.5rem;
    font-family: "Montserrat-Light";
}

#info{
    padding: 7% 15%;
    text-align: center;
}
.table{
    padding: 7% 15%;
}