#title {
    background-color: #55b3a1;
    color: #fff;
}

h1 {
    font-family: "Ubuntu";
    font-size: 2.9rem;
    line-height: 1.5;
    font-weight: bold;
}


.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Montserrat-Black 900";
    font-size: 4rem;
    font-weight: bolder;
    padding-right: 500px;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.5rem;
    font-family: "Montserrat-Light";
}

.title-image {
    width: 30%;
    position: absolute;
    margin-right: 5%;
    margin-left: 10%;
    margin-bottom: 30%;
}

.Manit-image {
    border-radius: 100%;
    width: 10%;
    margin: 10px;
}

.feature-box {
    padding: 8%;
    text-align: center;
}

h3 {
    font-family: "Montserrat-Bold";
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

.fa-solid {
    color: #55b3a1;
    margin-bottom: 1rem;
}

.fa-solid:hover {
    color: #55b3a1;
}

#About {
    background-color: #55b3a1;
    text-align: center;

    color: white;
}

.carousel-item {
    padding: 7% 15%;
}

h2 {
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

#login {
    background-color: white;
    text-align: center;
    padding: 7% 15%;
    color: #55b3a1;
}

.login-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
}

#footer {
    background-color: #55b3a1;
    padding: 7% 15%;
    text-align: center;
    color: white;
}

.social-icon {
    margin: 20px 10px;
}